/*   Полное содержание поста   */

.article-wrapper {
    background-color: #fff;
    padding: 15px 15px 60px 15px;
    margin-bottom: 15px;
}

.article-wrapper .article-content h1 {
    margin-bottom: 20px;
    font-family: 'Fira Sans', sans-serif;
    color: #333;
}

.article-wrapper .article-content .article-img {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.article-wrapper .article-content .article-text {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}

.article-wrapper .article-content .article-time {
    display: block;
    float: right;
    font-family: Sans-Serif, serif;
    color: darkcyan;
}

.article-text img {
    max-width: 1000px;
}

/*  Блок отправки комментариев   */

.comments-send-wrapper {
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 15px;
}

.comments-send-wrapper h3 {
    margin-bottom: 15px;
    opacity: 0.7;
}

.comments-send-wrapper input {
    border: lightblue solid 1px;
    border-radius: 5px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    width: 300px;
    margin-bottom: 15px;
}

.comments-send-wrapper input:focus {
    outline-color: lightskyblue;
}

.comments-send-wrapper textarea {
    width: 100%;
    border-radius: 5px;
    border: lightblue solid 1px;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.comments-send-wrapper textarea:focus {
    outline-color: lightskyblue;
}

.comments-send-wrapper * {
    display: block;
}

.comments-send-wrapper label {
    margin-bottom: 10px;
    color: darkcyan;
}


.comments-send-wrapper button {
    border-radius: 5px;
    height: 25px;
    line-height: 25px;
    border: lightblue 1px solid;
    background-color: #fff;
    width: 200px;
    cursor: pointer;
    font-family: Sans-Serif, serif;
    font-size: 16px;
    opacity: 0.7;
    padding: 0;
}

.comments-send-wrapper button:hover {
    background-color: lightskyblue;
    border: 1px darkcyan solid;
}

/*  Блок комментариев*/


.comments-wrapper {
    margin-bottom: 15px;
}

.comments-wrapper .comments-avatar {
    float: left;
    border-radius: 50%;
}

.comments-wrapper .comments-content {
    background-color: #fff;
    margin-left: 80px;
    padding: 15px 15px 5px 15px;
    border-radius: 5px;
}

.comments-content h3 {
    font-weight: 500;
    font-family: Sans-Serif, serif;
}

.comments-content .small {
    font-size: 14px;
    font-family: Sans-Serif, serif;
    color: darkcyan;
}

.comments-content .comments-text {
    font-family: 'Montserrat', sans-serif;
}

.article-text pre {
    border-left: 4px solid;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
    border-color: darkcyan;
    overflow: scroll;
    padding: 5px 5px 15px 5px;
    margin-left: 10px;

}