<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/mycss/person.css?v1">
    <title>Contacts</title>
</head>

<body>
    <main>
        <section class="main-page-preview-person">
            <div class="person-wrapper">
                <div class="person-avatar"></div>
                <div class="person-texts">
                    <p class="person-name">Эрик Давидович</p>
                    <p class="person-descr">Рекордсмен по приседаниям, более 1500 раз за подход<br>Отжимания более
                        3000 раз за подход</p>
                </div>
            </div>
        </section>
    </main>
</body>

</html>