<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/mycss/tg-messager.css?v1">
    <title>Tg Messager</title>
</head>

<body>
    <main>
        <section class="main-page-feedback">
            <div class="tg-background">
                <div class="tg-message-left tg-message">
                    <div class="tg-avatar">
                        <img src="/static/images/myimgs/tg_messager/avatars/client_avatar.webp" alt="Аватар пользователя">
                    </div>
                    <div class="tg-message-text">
                        <p class="tg-author">Alex N</p>
                        <p class="tg-text">Привет парни, спасибо вам за сервис. Отбилось с первой же покупки</p>
                    </div>
                </div>

                <div class="tg-message-right tg-message">
                    <div class="tg-avatar">
                        <img src="/static/images/myimgs/tg_messager/avatars/avatar_support.jpg" alt="Аватар пользователя">
                    </div>
                    <div class="tg-message-text">
                        <p class="tg-author">Avtoringer support</p>
                        <p class="tg-text">Не за что, рады, что Вам понравился наш сервис</p>
                    </div>
                </div>

                <div class="tg-message-left tg-message">
                    <div class="tg-avatar">
                        <img src="/static/images/myimgs/tg_messager/avatars/client_avatar.webp" alt="Аватар пользователя">
                    </div>
                    <div class="tg-message-text">
                        <p class="tg-author">Alex N</p>
                        <p class="tg-text">До этого пользовался другим сервисом, у них так не получалось, ну были
                            конечно случаи, когда дозваниваешься первым, но с вами не сравнить.</p>
                    </div>
                </div>

                <div class="tg-message-right tg-message">
                    <div class="tg-avatar">
                        <img src="/static/images/myimgs/tg_messager/avatars/avatar_support.jpg" alt="Аватар пользователя">
                    </div>
                    <div class="tg-message-text">
                        <p class="tg-author">Avtoringer support</p>
                        <p class="tg-text">Да, мы тоже сравнивали с другими сервисами, в большинстве случаев нам быстрее
                            приходит</p>
                    </div>
                </div>

                <div class="tg-message-left tg-message">
                    <div class="tg-avatar">
                        <img src="/static/images/myimgs/tg_messager/avatars/client_avatar.webp" alt="Аватар пользователя">
                    </div>
                    <div class="tg-message-text">
                        <p class="tg-author">Say my name</p>
                        <p class="tg-text">Не важно, любой текст тут пишу, лишь бы он было. Не важно, любой текст тут
                            пишу, лишь бы он было. Не важно, любой текст тут пишу, лишь бы он было. Не важно, любой
                            текст тут пишу, лишь бы он было. Не важно, любой текст тут пишу, лишь бы он было.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>