{% extends "index.html" %}

{% load thumbnail %}

{% block application %}
    {% for bl in blog %}
        <div class="row shadow-sm p-3 mb-3 bg-white">
            <a href="{% url 'article' article_id=bl.id %}" class="text-decoration-none text-dark"><h3
                    class="pb-3">{{ bl.title }}</h3></a>

            <div class="col-xxl-7 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <a href="{% url 'article' article_id=bl.id %}">
                    {% thumbnail bl.preview "715" crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{ bl.title }}" class="img-fluid shadow">
                    {% endthumbnail %}
                </a>
                <p class="pt-3" style="color:darkcyan">
                    {{ bl.creation_date }} &nbsp;&nbsp;&nbsp;
                    Комментариев: {{ bl.num_comments }}
                </p>
            </div>

            <div class="col-xxl-5 col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="fs-5">
                    {{ bl.full_text|truncatechars:200|safe }}
                </div>
                <br>
                <a href="{% url 'article' article_id=bl.id %}" type="button" class="btn btn-outline-secondary">Читать
                    далее</a>

            </div>

        </div>
    {% endfor %}
{% endblock %}