{% extends "index.html" %}

{% load thumbnail %}

{% block application %}
    <div class="article-wrapper">
        <div class="article-content">
            <h1>{{ article.title }}</h1>

            <div class="article-img">
                {% thumbnail article.preview "1000" as im %}
                    <img src="{{ im.url }}" alt="{{ article.title }}">
                {% endthumbnail %}
            </div>

            <div class="article-text">
                {{ article.full_text|safe }}
            </div>
            <p class="article-time">
                {{ article.creation_date }}
            </p>
        </div>
    </div>


    <div class="comments-send-wrapper">
        <h3>Оставить комментарий</h3>
        <form method="post">
            {% csrf_token %}

            <label for="auth_name">Имя</label>
            <input type="text" class="comments-send-author" id="auth_name" name="author_name" ,
                   placeholder="Введите имя">

            <label for="text" class="form-label">Комментарий</label>
            <textarea class="form-control" id="text" rows="3" name="text"></textarea>
            {{ form.article }}
            <button type="submit" class="comments-send-button">Отправить</button>
        </form>


    </div>
    {% verbatim %}
    <div id="comments_app">
        <div class="comments-wrapper" v-for="comment in comments">
            <img class="comments-avatar"
                 src="/media/blog/imgs/avatpic.jpg" alt="avatar"
                 width="65"
                 height="65"/>
            <div class="comments-content">
                <div>
                    <div>
                        <h3>{{ comment.author_name }}</h3>
                        <p class="small">{{ comment.date | formatDate }}</p>
                        <p class="comments-text">
                            {{ comment.text }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endverbatim %}
    <script>
        new Vue({
                el: '#comments_app',
                data: {
                    comments: []
                },
                created: function () {
                    const vm = this
                    axios.get('/api/v1/comments/?ordering=date&article={{ article.id }}').then(function (response) {
                        vm.comments = response.data
                    })
                }
            }
        )
        Vue.filter('formatDate', function (value) {
            if (value) {
                let dtime = new Date(value);
                return dtime.toLocaleString()
            }
        });
    </script>
{% endblock %}