{% extends "index.html" %}
{% block application %}
    {% verbatim %}
    <h1 style="display: none">Блог имени меня</h1>
    <div id="blog_app">


         <aside class="main-sidebar">
            <h3>Список постов:</h3>
            <div class="aside-content" v-for="blog in blogs">
                <a v-bind:href="'post/' + blog.id"><h5 class="text-break">{{ blog.title }}</h5></a>
            </div>
        </aside>

         <section class="posts-main">
            <article class="blog-post" v-for="blog in blogs">

                <a v-bind:href="'post/' + blog.id" class="post-title">
                    <h3>{{ blog.title }}</h3>
                </a>

                <p class="post-datetime">
                     {{ blog.creation_date | formatDate }}
                </p>
                <div class="post-content">
                    <a v-bind:href="'post/' + blog.id"><img v-bind:src=blog.preview></a>
                    <p>
                       {{ blog.full_text | truncate(100, '...')}}
                    </p>
                </div>
                <div class="post-link">
                    <a v-bind:href="'post/' + blog.id" type="button" class="button-read">Читать
                        далее</a>
                </div>

                <section class="post-stats">
                    <a v-bind:href="'post/' + blog.id + '#comments_app'">
                        <img title="Комментарии" src="/static/images/comment.png">
                    </a>
                    <span>{{ blog.num_comments }}</span>

                    <img title="Просмотры" src="/static/images/views.png">
                    <span>3.3K</span>

                </section>

            </article>

             <div class="paginator">
                <div class="paginator-prev" @click="goToPrevPage">
                    &lt;
                </div>

                <div class="paginator-pages">
                    <div>{{ currpage }}</div>
                </div>

                <div class="paginator-next" @click="goToNextPage">
                    &gt;
                </div>
            </div>
         </section>

    {% endverbatim %}
    <script src="/static/blogapp.js"></script>
{% endblock %}