{% extends "index.html" %}
{% block application %}
    {% verbatim %}
    <div id="aboutme_app">
        <div class="aboutme-wrapper" v-for="m in me">

              <div class="aboutme-right-column">
                <img v-bind:src="m.avatar"/>
                <p>Данный блог разработан мной, и постоянно
                    дописывается.<br>
                    Я часто создаю спонтанные проекты, которые потом становятся интересны людям, возможно и этот не
                    исключение <br>
                    Исходоный код открыт и выложен на <a href="https://github.com/Scryptor/Django_blog">GitHub</a>
                </p>
            </div>

            <div class="aboutme-left-column">
                <h1>
                    {{ m.fio }},
                    <mark>{{ m.nik }}</mark>
                </h1>
                <p>
                    Родился: {{ m.birthday }}
                </p>

                <h3>Мои соц сети:</h3>

                <ul>
                    <li><a v-bind:href=m.contacts_tg target="_blank">{{ m.contacts_tg }}</a></li>

                    <li><a class="mt-2" v-bind:href=m.contacts_vk target="_blank">{{ m.contacts_vk}}</a></li>

                    <li><a v-bind:href=m.contacts_youtube target="_blank">{{ m.contacts_youtube }}</a></li>

                    <li><a v-bind:href=m.contacts_habr target="_blank">{{ m.contacts_habr }}</a></li>

                    <li><a v-bind:href=m.contacts_pikabu target="_blank">{{ m.contacts_pikabu }}</a></li>

                    <li><a v-bind:href=m.contacts_github target="_blank">{{ m.contacts_github }}</a></li>
                </ul>
                <div>
                    <div v-html="m.about"></div>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    {% endverbatim %}

    <script src="/static/app.js"></script>
{% endblock %}