{% extends "index.html" %}
{% block application %}
    {% verbatim %}
    <div class="foodgen-wrapper noselect" id="prodmenu_app">
        <div class="foodgen-start-button">
            <button @click="getRandomFood">Поели</button>
        </div>
        <div class="foodgen-buttons-wrapper">
            <div role="button " class="lbutton" @click="getIndepFood">
                <h3>Самостоятельное блюдо</h3>
            </div>

            <div role="button" class="rbutton" @click="getSoupFood">
                <h3>Суп</h3>
            </div>

            <div role="button" class="mbutton" @click="getGarOsnFood">
                <h3>Гарнир +основное</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="foodgen-wrapper-food">
            <div class="lbutton food-noborder">
                <img role="button" :src="products_independant[idxprev1].image"
                     @click="getIndepFood">
                <h3>{{ randomPr_indep }}</h3>
                <div class="food-descr">
                    <p>
                        {{ products_independant[idxprev1].description }}
                    </p>

                </div>
            </div>

            <div class="rbutton food-noborder">
                <img role="button" :src="products_soup[idxprev4].image" @click="getSoupFood">
                <h3>{{ randomPr_soup }}</h3>
                <div class="food-descr">
                    <p>
                        {{ products_soup[idxprev4].description }}
                    </p>
                </div>
            </div>

            <div class="mbutton food-noborder">
                <div>
                    <img role="button" :src="products_garnir[idxprev2].image" @click="getGarnirFood">
                    <img role="button" :src="products_osnova[idxprev3].image" @click="getOsnovFood">
                </div>
                <h3>{{ randomPr_gar }} и {{ randomPr_Osn }}</h3>
                <div class="food-descr">
                    <p>
                        {{ products_garnir[idxprev2].description }}
                    </p>

                </div>
                <div class="food-descr">
                    <p>
                        {{ products_osnova[idxprev3].description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
    <div class="foodgen-info">
        Моя девушка постоянно спрашивает, что сегодня приготовоить, чтобы не мучать себя, придумывая каждый раз,
        я составил список блюд, которые она готовит и написал генератор еды )
    </div>

    <script src="/static/prodmenu.js"></script>

{% endblock %}