{% extends "index.html" %}
{% block application %}
    {% verbatim %}
    <div class="container" id="prodmenu_app">
        <div class="row mt-2">
            <button class="btn btn-primary rounded-0 mb-4" @click="getRandomFood">Поели</button>
        </div>
        <div class="row mb-1 bg-primary text-white">
            <div role="button" class="col-3  border-3 border-end" @click="getIndepFood"><h5
                    class="text-center text-break mb-2">
                Самостоятельное блюдо</h5>
            </div>
            <div role="button" class="col-6" @click="getGarOsnFood"><h5 class="text-center text-break">Гарнир +
                основное</h5></div>
            <div role="button" class="col-3  border-3 border-start" @click="getSoupFood"><h5
                    class="text-center text-break">Суп</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-3 bg-white border-3 border-end">
                <img :src="products_independant[idxprev1].image" class="img-fluid mt-2">
                <h5 class="bg-info mt-2 p-1 ps-2 text-white">{{ randomPr_indep }}</h5>
                <div class="text-center text-black-50 text-break mb-2">
                    {{ products_independant[idxprev1].description }}
                </div>
            </div>

            <div class="col-6 bg-white">
                <div class="row">
                    <img :src="products_garnir[idxprev2].image" class="img-fluid mt-2 col-6">
                    <img :src="products_osnova[idxprev3].image" class="img-fluid mt-2 col-6">
                </div>
                <h5 class="bg-info mt-2 p-1 ps-2 text-white">{{ randomPr_garOsn }}</h5>
                <div class="col-6 text-center text-black-50 text-break mb-2">
                    {{ products_garnir[idxprev2].description }}
                </div>
                <div class="col-6 text-center text-black-50 text-break mb-2">
                    {{ products_osnova[idxprev3].description }}
                </div>
            </div>

            <div class="col-3 bg-white border-3 border-start">
                <img :src="products_soup[idxprev4].image" class="img-fluid mt-2">
                <h5 class="bg-info mt-2 p-1 ps-2 text-white">{{ randomPr_soup }}</h5>
                <div class="text-center text-black-50 text-break mb-2">
                    {{ products_soup[idxprev4].description }}
                </div>
            </div>
        </div>
        <div class="text-break text-center text-black-50 mt-2">
            Моя девушка постоянно спрашивает, что сегодня приготовоить, чтобы не мучать себя, придумывая каждый раз,
            я составил список блюд, которые она готовит, и написал генератор еды )
        </div>

    </div>
    {% endverbatim %}

    <script src="/static/prodmenu.js"></script>

{% endblock %}